@font-face {
	font-family: VCR_OSD_MONO;
	src: url(fonts/VCR_OSD_MONO.woff);
}

body {
	background-color: black;
	font-family: VCR_OSD_MONO;
}

.navbar {
	text-align: center;
	border: 5px solid white;
}

.navbar a {
	font-size: 20px;
	color: yellow;
	text-decoration: none;
}

footer {
	text-align: center;
	color: white;
}

h1 {
	font-size: 60px;
	color: green;
}
